.info__navigation {
    margin-left: 5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    color: #373737;
    font-size: .9rem;
}

.info__navigation a {
    color: #000;
    text-decoration: none;
}

.info__navigation i:first-child,
.info__navigation i:nth-child(2) {
    margin-right: 1rem;
}

.info__navigation i:nth-child(2) {
    margin-top: .15rem;
    font-size: .6rem;
}

.info__content-container {
    width: 82%;
    margin: 2rem auto 3rem;
}

.info__content-container h3 {
    margin-bottom: 1rem;
}

.info__content-container>div {
    margin-left: 1.5rem;
}

.info__content-container>div p {
    margin: 1.2rem 0;
    line-height: 1.5rem;
}

.info__content-container>div ol {
    list-style-type: none;
    counter-reset: counter;
}

.info__content-container>div ol>li {
    counter-increment: counter;
    margin-bottom: 10px;
    display: flex;
}

.info__content-container>div ol>li::before {
    content: counter(counter) ".";
    color: #000000;
    font-weight: bold;
    margin-right: 5px;
}

.info__content-container>div ol>li>p {
    margin-top: 0;
    margin-left: .5rem;
    /* Elimina el margen predeterminado del párrafo para alinear correctamente el texto */
}

.info__content-container>div>p a {
    color: #000;
    text-decoration: none;
}