.hero {
    margin-top: 5rem;
    width: 100%;
    height: 60vh;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(221, 221, 221, 0.8) 100%);
}

.hero__items-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30vh auto 1rem;
}

.hero__left-container {
    width: 50%;
    letter-spacing: .5px;
    line-height: 1.5rem;
}

.hero__left-container p {
    margin: .5rem 0;
}

.hero__span a {
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
}


span.chevron>i {
    position: relative;
    margin-left: .2rem;
    top: -.25rem;
    font-size: .5rem;
}

.hero__span:hover {
    font-weight: 700;
    font-size: 13px;
    transition: .5s;
}

.button-container {
    margin: .5rem 0;
}

.cta {
    width: 150px;
    height: 40px;
    background-color: #373737;
    color: #EBEBEB;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .5px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    margin-right: 1.2rem;
}

.button-container span {
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.hero__img {
    width: 20rem;
}

.chevron.hero__scroll>i {
    position: relative;
    top: 6rem;
    left: 50%;
    z-index: -1;
    margin: 0 auto;
    font-size: 1rem;
}

@media screen and (max-width:1100px) {
    .hero__img {
        display: none;
    }

    .hero__left-container {
        width: 70%;
        letter-spacing: .5px;
        line-height: 1.5rem;
        text-align: center;
        margin: auto;
    }

    .chevron {
        z-index: -1;
    }
}

@media screen and (max-width:950px) {
    .hero {
        height: max-content;
    }

    .hero__items-container {
        width: 90%;
        flex-direction: column;
        margin-top: 20vh;
    }

    .hero__left-container {
        font-size: 14px;
        align-items: center;
    }

    .hero__img {
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        display: block;
    }

    .hero__left-container {
        width: 70%;
        letter-spacing: .5px;
        line-height: 1.5rem;
        text-align: center;
        margin: auto;
    }

    .button-container {
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta {
        margin: .5rem auto;
    }

    .chevron.hero__scroll>i {
        display: none;
    }
}