span.header__icon {
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #373737;
}

div.cart-itemsCounter {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #afafaf;
    text-align: center;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    font-size: 13px;
    color: #ffffff;
    position: relative;
    left: -.8rem;
    top: -.8rem;
    font-weight: bold;
}

.cart-itemsCounter span {
    font-family: 'Montserrat', sans-serif;
}