.product-cta__container.disable-addToCart {
    display: none;
}

.product-cta {
    min-width: 15rem;
    max-width: 20rem;
    padding: .5rem 1rem;
    margin: 1rem auto .8rem;
    border-radius: 1.2rem;
    outline: none;
    font-weight: 500;
    font-size: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1.5px solid rgb(133, 133, 133);
    color: rgb(235, 235, 235);
    background-color: rgb(133, 133, 133);
}

.product-cta>.add-to-cart {
    margin-left: .9rem;
    font-size: .75rem;
}

.product-cta:hover {
    border: 1.5px solid rgba(79, 79, 79, .7);
    color: rgb(86, 86, 86);
    background-color: rgb(200, 200, 200);
}