/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600;700;800&display=swap');

div.container-80 {
    width: 80%;
    margin: 10vh auto;
}

h2.secton-title {
    width: 60%;
    margin: 1rem auto;
    font-size: 1.3rem;
    text-align: center;
}

article {
    width: 50%;
    text-align: center;
    line-height: 1.5rem;
    margin: 0 auto 2.5rem;
}

.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:950px) {
    .products-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: auto;
    }
}