.controls {
    width: 8rem;
    height: 2.8rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #adadad82;
    border-radius: .1rem;
}

.controls button {
    width: 1.8rem;
    height: 2.8rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #ffffff;
    color: #373737;
    border: 1px solid #adadad82;
}

.controls button:hover {
    background-color: #d1d1d180;
}

.controls h4 {
    font-family: 'Montserrat';
}

.itemOut-of-stock {
    padding: 1.5rem;
}

.itemOut-of-stock span {
    font-size: 1rem;
    margin-right: 1rem;
}